menu "RF Transmitter"

    config DATA_GPIO
        int "DATA GPIO number"
        range 0 34
        default 15
        help
            GPIO number (IOxx) to transmit

            Some GPIOs are used for other purposes (flash connections, etc.) and cannot be used to blink.

            GPIOs 35-39 are input-only so cannot be used as outputs.

    config SET_GPIO
        int "SET GPIO number"
        range 0 34
        default 14
        help
            GPIO number (IOxx) to transmit

            Some GPIOs are used for other purposes (flash connections, etc.) and cannot be used to blink.

            GPIOs 35-39 are input-only so cannot be used as outputs.

    config SSID
        string "SSID"
        default "SSID"
        help
            SSID

    config PASS
        string "PASS"
        default "pass"
        help
            PASS
endmenu
